<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-10 col-md-10 text-center mt-4">
  
      <!-- Fine Circle Responsive Image -->
      <div id="container" class="my-2">
        <div style="display: flex; justify-content: space-around;">
          <img src="{{ site.author.image }}" alt="{{ site.title }}" style="float: left;" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
          <p style="align-self: center; font-size: 60px; font-family: Klee One;" data-wow-delay=".15s">{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>